.carousel-item.active
    .row
        .col-5.offset-md-1.img-decoration-cub
            img(src="img/Rectangle2.jpg", alt="#")
        .col-6
            h3.about-title chocolate pancakes 1
            p.about-text-main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.about-text-span Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
.carousel-item
    .row
        .col-5.offset-md-1.img-decoration-cub
            img(src="img/Rectangle2.jpg", alt="#")
        .col-6
            h3.about-title chocolate pancakes 2
            p.about-text-main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.about-text-span Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
.carousel-item
    .row
        .col-5.offset-md-1.img-decoration-cub
            img(src="img/Rectangle2.jpg", alt="#")
        .col-6
            h3.about-title chocolate pancakes 3
            p.about-text-main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.about-text-span Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.