.item-menu(data-f="all") ALL
.item-menu(data-f="SOUPE") SOUPE
.item-menu(data-f="PIZZA")  PIZZA
.item-menu(data-f="PASTA")  PASTA
.item-menu(data-f="DESERT")  DESERT
.item-menu(data-f="WINE")  WINE
.item-menu(data-f="BEER")  BEER
.item-menu(data-f="DRINKS")  DRINKS