.menu-list-etem(data-categori="SOUPE")
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PIZZA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA  STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PASTA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PIZZA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="DESERT") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO   
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="DESERT") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA  STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="SOUPE") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="SOUPE")
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO   
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="BEER") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PIZZA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA  STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PASTA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO   
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PASTA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="WINE") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA  STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="BEER") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PASTA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO   
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PIZZA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA  STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="DRINKS")
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="WINE") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO 
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="WINE") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO STAGIONI  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
.menu-list-etem(data-categori="PASTA") 
    .menu-list-etem-content
        h4.name-of-dish PIZZA QUATRO  
        span.price-of-the-dish -- 55,68 USD
    p.description-of-the-dish Integer ullamcorper neque eu purus euismod
