.mobale-menu.active
    .buttom-mobale-menu
        .botom-menu-line(style="animation-delay:4.1s")
        .botom-menu-line(style="animation-delay:3.7s")
        .botom-menu-line(style="animation-delay:3.5s") 
    .buttom-mobale-close-menu
        .botom-menu-line 
        .botom-menu-line  
    ul.memu
        li.etem-menu
            a(href="../index.html" ) HOME
        li.etem-menu.l
            a(href="#" id='ABOUTm') ABOUT
        li.etem-menu.l
            a(href="#" id='TEAMm') TEAM
        li.etem-menu.l
            a(href="#" id='BOOKINGm') BOOKING
        li.etem-menu.l
            a(href="#" id='MENUm') MENU
        li.etem-menu.l
            a(href="#" id='GALERIEm') GALERIE
        li.etem-menu.l
            a(href="#" id='EVENTSm') EVENTS
        li.etem-menu.l
            a(href="#" id='CONTACTm') CONTACT