nav
    .row.row-cols-3.header-top
        .col
            .bottomLine
            .navig-links
                a.navig-link(href="../index.html" style="animation-delay: 4s;") HOME
                a.navig-link.l(href="#" style="animation-delay: 4.1s;" id='ABOUT') ABOUT
                a.navig-link.l(href="#" style="animation-delay: 4.2s;" id='TEAM') TEAM
                a.navig-link.l(href="#" style="animation-delay: 4.3s;" id='BOOKING') BOOKING
        .col-2
            img(src="img/srg/logo.svg", alt="#")
        .col
            .bottomLine
            .navig-links
                a.navig-link.l(href="#" style="animation-delay: 4.4s;" id='MENU') MENU
                a.navig-link.l(href="#" style="animation-delay: 4.5s;" id='GALERIE') GALERIE
                a.navig-link.l(href="#" style="animation-delay: 4.6s;" id='EVENTS') EVENTS
                a.navig-link.l(href="#" style="animation-delay: 4.7s;" id='CONTACT') CONTACT
        